.dark .sub-menu .menu-item {
	background-color: #222
}

.light .sub-menu .menu-item {
	background-color: #fff
}

.historyHeader, .statsHeader {
  font-weight: bold;
  font-size: calc(14px + 0.3vw);
}

.historyTable {
  font-size: calc(5px + 0.5vw);
}

td.month, td.head, td.year, td.noaa, th.month, th.head, th.year, th.noaa {
  padding: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

.month {
  border-left-width: 1px;
  border-right-width: 1px;
  text-align: center;
}

.year {
  border-left-style: double;
  border-left-width: 4px;
  text-align: center;
}

.historyTable {
  font-size: calc(5px + 0.5vw);
}

.table {
  color: #555;
}

.text-center{
  text-align: center;
}

.history-data {
  text-align: center;
  font-weight: 400;
}

.hist-size-small {
  font-size: 0.8em;
}

.hist-size {
  font-size: 1.1em;
}

.hist-size-value {
  font-size: 1em;
}

.site-inner,
.wrap {
  margin: 0 auto;
  max-width: 1200px;
}

.dwdforecasttable {
  line-height: 1.0;
}

.dwdforecasttable td {
  text-align: center;
  padding-left: 3px;
  padding-right: 3px;
  line-height: 1.2;
}

.dwdforecasttable .icons td {
  padding-top: 5px;
  padding-bottom: 0px;
}

.dwdforecasttable .topdist td {
  padding-top: 5px;
}

.light .dwdforecasttable td.weekend {
  background-color: #ffe;
}

.dark .dwdforecasttable td.weekend {
  background-color: #333;
}

/* scrollbar for 48-hour hourly forecast */
.dwdforecast-horizontal.dwdforecast-hourly48 {
  /* prevent vertical scrollbar */
  padding: 5px;
  /* switch on horizontal scrollbar */
  overflow-x: scroll;
}

.bold {
  font-weight: 600;
  height: 20px;
}

.small {
  font-size: 12px;
}

.dark .clima-table-day {
  color: rgb(239, 240, 240);
}

.clima {
  text-align: center;
  padding: 0px;
}

.clima-obs-top {
  width: 75%;
  min-height: 234px !important;
  border-style: solid;
  border-width: thin;
  border-color: #D7D7D7;
  margin-bottom: 0.7em;
}

.clima-table-background {
  display: flex;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10vh;
  margin-top: 5vh;
}

.clima-table-day {
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  color: rgb(44, 45, 45);
  margin-bottom: auto;
  border-collapse: collapse;
  overflow: hidden;
}

td, .clima {
  padding: 0px;
  min-width: 50px;
}

.clima-info {
  font-size: 14px
}

#t1 td.links {
  font-family: Arial, Verdana, sans-serif;
  #color: white;
  font-size: 18px;
  font-weight: solid;
  text-align: center;
  height: 24px;
  border: 1px solid #D7D7D7;
}

#t1 td.links1 {
  font-family: Arial, Verdana, sans-serif;
  #color: white;
  font-size: 12px;
  font-weight: solid;
  text-align: center;
  height: 24px;
  border: 1px solid #D7D7D7;
}

th.records-header {
    text-align:center;
    background:#D7D7D7;
    color:#000;
    font-weight:400;
    border: 1px solid #AAAAAA;
}

th.records-header-year {
    text-align: center;
    background: #3da5f4;
    color: #fff;
    font-weight: 400;
    border: 1px solid #D7D7D7;
}

th.records-header-alltime {
    text-align: center;
    background: #375a7f;
    color: #fff;
    font-weight: 400;
    border: 1px solid #D7D7D7;
}

td.records-header {
    text-align:center;
    background:#D7D7D7;
    color:#000;
    font-weight:400;
    border: 1px solid #AAAAAA;
}

td.records-header-year {
    text-align: center;
    background: #3da5f4;
    color: #fff;
    font-weight: 400;
    border: 1px solid #D7D7D7;
}

td.records-header-alltime {
    text-align: center;
    background: #375a7f;
    color: #fff;
    font-weight: 400;
    border: 1px solid #D7D7D7;
}

td.records-header-alltime-small {
    text-align: center;
    background: #375a7f;
    color: #fff;
    font-weight: 400;
    font-size: 0.85em;
    border: 1px solid #D7D7D7;
}

td.records-header-year-small {
    text-align: center;
    background: #3da5f4;
    color: #fff;
    font-weight: 400;
    font-size: 0.9em;
    border: 1px solid #D7D7D7;
}
