## Copyright 2017 Tom Keffer, Matthew Wall
## Distributed under terms of GPLv3.  See LICENSE.txt for your rights.
#errorCatcher Echo
#encoding UTF-8

#def period_plots($period, $label)
<div id="history_${label}" class="plot_containter" style="display:none">
#for $x in [
{'data': $period.rxCheckPercent, 'img': 'rx', 'alt': 'signal'},
{'data': $period.signal2, 'img': 'rx1', 'alt': 'signal2'},
{'data': $period.signal5, 'img': 'rx2', 'alt': 'signal5'},
{'data': $period.signal3x, 'img': 'rx3', 'alt': 'signal'},
{'data': $period.signal4x, 'img': 'rx4', 'alt': 'signal'},
{'data': $period.signal5x, 'img': 'rx5', 'alt': 'signal'},
{'data': $period.signal6x, 'img': 'rx6', 'alt': 'signal'},
{'data': $period.signal7x, 'img': 'rx7', 'alt': 'signal'},
{'data': $period.signal8x, 'img': 'rx8', 'alt': 'signal'},
{'data': $period.wh51_ch1_sig, 'img': 'sig1', 'alt': 'wh51_ch1_sig'},
{'data': $period.wh51_ch6_sig, 'img': 'sig2', 'alt': 'wh51_ch6_sig'},
{'data': $period.wn34_ch5_sig, 'img': 'sig3', 'alt': 'wn34_ch5_sig'},
{'data': $period.consBatteryVoltagex, 'img': 'volt', 'alt': 'voltage'},
{'data': $period.consBatteryVoltage, 'img': 'voltcons', 'alt': 'consBatteryVoltage'},
{'data': $period.heatingVoltagex, 'img': 'volt', 'alt': 'voltage'},
{'data': $period.supplyVoltagex, 'img': 'volt', 'alt': 'voltage'},
{'data': $period.referenceVoltagex, 'img': 'volt', 'alt': 'voltage'},
{'data': $period.windBatteryStatus, 'img': 'volt', 'alt': 'voltage'},
{'data': $period.soilMoistBatt1, 'img': 'voltage1', 'alt': 'soilMoistBatt1'},
{'data': $period.soilMoistBatt2x, 'img': 'voltage1x', 'alt': 'soilMoistBatt2'},
{'data': $period.soilMoistBatt3, 'img': 'voltage2', 'alt': 'soilMoistBatt3'},
{'data': $period.rainBatteryStatus, 'img': 'voltage3', 'alt': 'rainBatteryStatus'},
{'data': $period.ws90cap_volt, 'img': 'voltcap', 'alt': 'ws90cap_volt'},
{'data': $period.pb, 'img': 'heap0', 'alt': 'Heap'},
{'data': $period.ldsheat_ch1, 'img': 'lds_heat', 'alt': 'ldsheat_ch1'},
{'data': $period.wh31_ch3_rssi, 'img': 'rssi_wh31', 'alt': 'wh31_ch3_rssi'},
{'data': $period.wh40_rssi, 'img': 'rssi_wh40', 'alt': 'wh40_rssi'},
{'data': $period.wn34_ch1_rssi, 'img': 'rssi_wn341', 'alt': 'wn34_ch1_rssi'},
{'data': $period.wn35_ch1_rssi, 'img': 'rssi_wn35', 'alt': 'wn35_ch1_rssi'},
{'data': $period.wh51_ch1_rssi, 'img': 'rssi_wh511', 'alt': 'wh51_ch1_rssi'},
{'data': $period.wh51_ch9_rssi, 'img': 'rssi_wh512', 'alt': 'wh51_ch9_rssi'},
{'data': $period.wh55_ch1_rssi, 'img': 'rssi_wh55', 'alt': 'wh55_ch1_rssi'},
{'data': $period.ws85_rssi, 'img': 'rssi_ws80', 'alt': 'ws85_rssi'},
]
#if $x['data'].has_data
#set $img = "%s%s.png" % ($label, $x['img'])
<img src="$img" alt="$x['alt']" />
#end if
#end for
</div>
#end def

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>$station.location Telemetry</title>
    <link rel="icon" type="image/png" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="seasons.css"/>
    <script src="seasons.js"></script>
  </head>

  <body onload="setup();">
    #include "titlebar.inc"
    
    <div id="contents">
      <p><a href="index.html">&#10096; $gettext("Current Conditions")</a></p>

      <div id="widget_group">
        #include "sensors.inc"
      </div>

      <div id="plot_group">
        <div id="history_widget" class="widget">
          <div id="plot_title" class="widget_title">$gettext("Telemetry"):&nbsp;&nbsp;
            <a class="button_selected" id="button_history_day"
               onclick="choose_history('day')">$gettext("Day")</a>
            <a class="button" id="button_history_week"
               onclick="choose_history('week')">$gettext("Week")</a>
            <a class="button" id="button_history_month"
               onclick="choose_history('month')">$gettext("Month")</a>
            <a class="button" id="button_history_year"
               onclick="choose_history('year')">$gettext("Year")</a>
          </div>
          $period_plots($day, 'day')
          
          $period_plots($week, 'week')

          $period_plots($month, 'month')

          $period_plots($year, 'year')
        </div>
      </div>

      #include "identifier.inc"
    </div>

  </body>
</html>
