#errorCatcher Echo
#encoding UTF-8
#set global $page = "climay"

#import datetime
#from datetime import timedelta

    #include "header.html.tmpl"

##
#set $YM="%m %Y"
#set $Jahr="%Y"
#set $D="%d"
#set $M="%B"
#set $DM = "%d.%m."
#set $DMH = "%d.%m. %H:%M"
#set $DH = "%d. %H:%M"
#set $NODAY="N/A"
#set $Temp="%6.1f"
#set $Wind="%6.1f"
#set $Dir="%6.0f"
#set $Count="%6d"
#set $NONE="N/A"
#set $Hot      =(25.0, "degree_C")
#set $Warm     =(18.0, "degree_C")
#set $SCold    =(0.0, "degree_C")
#set $Cold     =(10.0, "degree_C")
#set $Trace    =(0.1, "mm")
#set $SomeRain =(1.0, "mm")
#set $Soak     =(10.0, "mm")
#set $Rain="%6.1f"
#def ShowInt($T)
$("%6d" % $T[0])#slurp
#end def
#def ShowFloat($R)
$("%6.1f" % $R[0])#slurp
#end def
##
   
<div class="table-container">
  <main class="content">
    <article class="weewx clima" itemscope itemtype="https://schema.org/CreativeWork">
    #include "page-header.inc"
      <br>
      <h3>Klimatologische Werte f&uuml;r das Jahr $year_name</h3>
      <br>
      <div class="row records-table">
        <table id="t1" class="table-striped">
          <tbody>
            <tr>
              <td class="records-header" colspan="9">Au&szlig;entemperatur</td>
            </tr>      
            <tr>  
              <td class="records-header-alltime" width="8%">Monat</td>
              <td class="records-header-alltime" width="14%">H&ouml;chstwert</td>
              <td class="records-header-alltime" width="14%">Tiefstwert</td>
              <td class="records-header-alltime" width="9%">Mittel</td>
              <td class="records-header-alltime-small" width="11%">Eistage<br>T<sub>max</sub>&lt;&nbsp;$ShowInt($SCold)&nbsp;&deg;C</td>
              <td class="records-header-alltime-small" width="11%">Frosttage<br>T<sub>min</sub>&lt;&nbsp;$ShowInt($SCold)&nbsp;&deg;C</td>
              <td class="records-header-alltime-small" width="11%">Kalte Tage<br>T<sub>max</sub>&lt;&nbsp;$ShowInt($Cold)&nbsp;&deg;C</td>
              <td class="records-header-alltime-small" width="11%">Warme Tage<br>T<sub>max</sub>&ge;&nbsp;$ShowInt($Warm)&nbsp;&deg;C</td>
              <td class="records-header-alltime-small" width="11%">Sommertage<br>T<sub>max</sub>&ge;&nbsp;$ShowInt($Hot)&nbsp;&deg;C</td>
            </tr>      
          #for $month in $year.months
            #if $month.barometer.count.raw
            <tr>
              <td class="links">$month.dateTime.format($M)</td>
              <td class="links">$month.outTemp.max.string($NONE)<br>
                <div class="hist-size-small">am $month.outTemp.maxtime.format($DH, $NODAY)</div></td>
              <td class="links">$month.outTemp.min.string($NONE)<br>
                <div class="hist-size-small">am $month.outTemp.mintime.format($DH, $NODAY)</div></td>
              <td class="links">$month.outTemp.avg.string($NONE)</td>
              <td class="links">$month.outTemp.max_le($SCold).nolabel($Count,$NONE)</td>
              <td class="links">$month.outTemp.min_le($SCold).nolabel($Count,$NONE)</td>
              <td class="links">$month.outTemp.max_le($Cold).nolabel($Count,$NONE)</td>
              <td class="links">$month.outTemp.max_ge($Warm).nolabel($Count,$NONE)</td>
              <td class="links">$month.outTemp.max_ge($Hot).nolabel($Count,$NONE)</td>
            </tr>
            #end if
          #end for
            <tr>
              <td class="records-header-alltime" colspan="10">Jahressummen</td>
            </tr>
            <tr>
              <td class="links">$year.dateTime.format($Jahr)</td>
              <td class="links">$year.outTemp.max.string($NONE)<br>
                <div class="hist-size-small">am $year.outTemp.maxtime.format($DMH, $NODAY)</div></td>
              <td class="links">$year.outTemp.min.string($NONE)<br>
                <div class="hist-size-small">am $year.outTemp.mintime.format($DMH, $NODAY)</div></td>
              <td class="links">$year.outTemp.avg.string($NONE)</td>
              <td class="links">$year.outTemp.max_le($SCold).nolabel($Count,$NONE)</td>
              <td class="links">$year.outTemp.min_le($SCold).nolabel($Count,$NONE)</td>
              <td class="links">$year.outTemp.max_le($Cold).nolabel($Count,$NONE)</td>
              <td class="links">$year.outTemp.max_ge($Warm).nolabel($Count,$NONE)</td>
              <td class="links">$year.outTemp.max_ge($Hot).nolabel($Count,$NONE)</td>
            </tr>
          </tbody>
        </table>
      </div> 
      <br>

      <div class="row records-table">
        <table id="t1" class="table-striped">
          <tbody>
            <tr>
              <td class="records-header" colspan="6">Niederschlag</td>
              <td class="records-header" colspan="3">Wind</td>
            </tr>
            <tr>  
              <td class="records-header-alltime" width="9%">Monat</td>
              <td class="records-header-alltime" width="9%">Total</td>
              <td class="records-header-alltime" width="13%">Maximum</td>
              <td class="records-header-alltime-small" width="11%">Anz. Tage<br>&gt; $ShowFloat($Trace) mm</td>
              <td class="records-header-alltime-small" width="11%">Anz. Tage<br>&gt; $ShowFloat($SomeRain) mm</td>
              <td class="records-header-alltime-small" width="11%">Anz. Tage<br>&gt; $ShowFloat($Soak) mm</td>
              <td class="records-header-alltime" width="12%">Mittel</td>
              <td class="records-header-alltime" width="12%">Maximum</td>
              <td class="records-header-alltime" width="12%">Richtung</td>
            </tr>
          #for $month in $year.months
            #if $month.barometer.count.raw
            <tr>
              <td class="links">$month.dateTime.format($M)</td>
              <td class="links">$month.rain.sum.string($NONE)</td>
              <td class="links">$month.rain.maxsum.string($NONE)<br>
                <div class="hist-size-small">am $month.rain.maxsumtime.format($DM,$NODAY)</div></td>
              <td class="links">$month.rain.sum_ge($Trace).nolabel($Count,$NONE)</td>
              <td class="links">$month.rain.sum_ge($SomeRain).nolabel($Count,$NONE)</td>
              <td class="links">$month.rain.sum_ge($Soak).nolabel($Count,$NONE)</td>
              <td class="links">$month.wind.avg.nolabel($Wind,$NONE) km/h</td>
              <td class="links">$month.wind.max.nolabel($Wind,$NONE) km/h<br>
                <div class="hist-size-small">am $month.wind.maxtime.format($DH,$NODAY)</div></td>
              <td class="links">$month.wind.vecdir.ordinal_compass<br>($month.wind.vecdir.nolabel($Dir,$NONE)&deg;)</td>
            </tr>
            #end if
          #end for
            <tr>
                <td class="records-header-alltime" colspan="10">Jahressummen</td>
            </tr>
            <tr>
              <td class="links">$year.dateTime.format($Jahr)</td>
              <td class="links">$year.rain.sum.string($NONE)</td>
              <td class="links">$year.rain.maxsum.string($NONE)<br>
                <div class="hist-size-small">am $year.rain.maxsumtime.format($DM,$NODAY)</div></td>
              <td class="links">$year.rain.sum_ge($Trace).nolabel($Count,$NONE)</td>
              <td class="links">$year.rain.sum_ge($SomeRain).nolabel($Count,$NONE)</td>
              <td class="links">$year.rain.sum_ge($Soak).nolabel($Count,$NONE)</td>
              <td class="links">$year.wind.avg.nolabel($Wind,$NONE) km/h</td>
              <td class="links">$year.wind.max.nolabel($Wind,$NONE) km/h<br>
                <div class="hist-size-small">am $year.wind.maxtime.format($DMH,$NODAY)</div></td>
              <td class="links">$year.wind.vecdir.ordinal_compass<br>($year.wind.vecdir.nolabel($Dir,$NONE)&deg;)</td>
            </tr>
          </tbody>
        </table>
        <hr>
      </div> 
    </article>
  </main>
</div>
#include "footer.html.tmpl"      
