## Copyright 2009-2018 Tom Keffer, Matthew Wall
## Distributed under terms of GPLv3.  See LICENSE.txt for your rights.
#errorCatcher Echo
##
## Specifying an encoding of UTF-8 is usually safe:
#encoding UTF-8
##


<!DOCTYPE html>
<html lang="en">
  <head>
    ## This choice should match the #encoding directive above
    <meta charset="UTF-8">
<META HTTP-EQUIV="Refresh" CONTENT="300">
    <title>$station.location</title>
    <link rel="icon" type="image/png" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="seasons.css"/>

    <style type="text/css">

.col-md-8 {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.col-md-8 table th {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid;
}

.col-md-8 table td {
    font-weight: normal;
    text-align: right;
    font-size: 11px;
    padding-right: 5px;
    padding-left: 5px;
    border-bottom: 1px solid;
}

.history {
  #font-size: calc(8px + 0.5vw);
  font-size: 1.1vw;
  margin-bottom: 30px;
  overflow: auto;
  float: left;
}
    </style>

    <script src="seasons.js"></script>
  </head>
#set $Month=int($current.dateTime.format("%m"))
  <body onload="setup();">
    #include "titlebar.inc"
    
    <div id="contents">
      <div id="widget_group">
        #include "current.inc"
        #include "sunmoon.inc"
        #include "hilo.inc"
        ##include "belchertown.inc"
        #include "neowx.inc"
        ##include "amphibian.inc"
        ##include "sofaskin.inc"
        #include "bootstrap.inc"
        ##include "standard.inc"
        ##include "smartphone.inc"
        ##include "mobile.inc"
        #include "cmon.inc"
        #include "sensors.inc"
        #include "about.inc"
        #include "radar.inc"
        #include "satellite.inc"
        #include "map.inc"
      </div>

      <div id="plot_group">
           <div id="plot_title" class="widget_title">$gettext("History"):&nbsp;&nbsp; 
            <a class="button_selected" id="button_history_day"
               onclick="choose_history('day')">$gettext("Day")</a>
            <a class="button" id="button_history_week"
               onclick="choose_history('week')">$gettext("Week")</a>
            <a class="button" id="button_history_month"
               onclick="choose_history('month')">$gettext("Month")</a>
            <a class="button" id="button_history_year"
               onclick="choose_history('year')">$gettext("Year")</a>
            <a class="button" id="button_history_chronicle"
               onclick="choose_history('chronicle')">$gettext("Chronicle")</a>
           </div>
          <div id="history_day" class="plot_container">
            <img src="daybarometer.png" alt="$obs.label.barometer"/>
            <img src="daytempdew.png"   alt="$obs.label.outTemp" />
            <img src="daytempfeel.png"  alt="$obs.label.feel" />
            <img src="dayhum.png"       alt="$obs.label.outHumidity" />
            <img src="daywind.png"      alt="$obs.label.windSpeed" />
            <img src="daywinddir.png"   alt="$obs.label.windDir" />
            <img src="daywindvec.png"   alt="$obs.label.windvec" />
            <img src="dayrain.png"      alt="$obs.label.rain" />
            #if $day.hail.has_data
            <img src="dayrain1.png"        alt="$obs.label.rain" />
            #end if
            <img src="dayrainbar.png"      alt="$obs.label.rain" />
            <img src="dayrain2.png"      alt="$obs.label.rainRate" />
            <img src="dayrain3.png"      alt="$obs.label.rainRate" />
            <img src="dayrain4.png"      alt="$obs.label.rainRate" />
            #if $day.UV.has_data
            <img src="dayuv.png"        alt="$obs.label.UV" />
            #end if
            #if $day.radiation.has_data
            <img src="dayradiation.png" alt="$obs.label.radiation" />
            #end if
            #if $day.sunshineDur.has_data
            <img src="daysunshine.png"        alt="$obs.label.sunshineDur"/>
            #end if

            #if $day.inTemp.has_data
            <img src="daytempin.png"    alt="$obs.label.inTemp" />
            #end if
            #if $day.inHumidity.has_data
            <img src="dayhumin.png"    alt="$obs.label.inHumidity" />
            #end if
            #if $day.extraTemp1.has_data or $day.extraTemp2.has_data or $day.extraTemp3.has_data or $day.extraTemp4.has_data
            <img src="daytemp.png"      alt="$obs.label.extraTemp1" />
            #end if
            #if $day.extraTemp5.has_data or $day.extraTemp6.has_data or $day.extraTemp7.has_data or $day.extraTemp8.has_data
            <img src="daytemp2.png"      alt="$obs.label.extraTemp5" />
            #end if
            #if $day.extraHumid1.has_data or $day.extraHumid2.has_data or $day.extraHumid3.has_data or $day.extraHumid4.has_data
            <img src="dayhumex1.png"      alt="$obs.label.extraHumid1" />
            #end if
            #if $day.extraHumid5.has_data or $day.extraHumid6.has_data or $day.extraHumid7.has_data or $day.extraHumid8.has_data
            <img src="dayhumex2.png"      alt="$obs.label.extraHumid5" />
            #end if

            #if $day.leafTemp1.has_data or $day.leafTemp2.has_data
            <img src="daytempleaf.png"      alt="$obs.label.leafTemp1" />
            #end if
            #if $day.leafWet1.has_data or $day.leafWet2.has_data
            <img src="dayleafwet.png"      alt="$obs.label.leafWet1" />
            #end if

            #if $day.soilTemp1.has_data or $day.soilTemp2.has_data
            <img src="daytempsoil.png"      alt="$obs.label.soilTemp1" />
            #end if
            #if $day.soilTemp3.has_data or $day.soilTemp4.has_data
            <img src="daytempsoil0.png"      alt="$obs.label.soilTemp3" />
            #end if
            #if $day.soilTemp5.has_data or $day.soilTemp6.has_data
            <img src="daytempsoil1.png"      alt="$obs.label.soilTemp5" />
            #end if
            #if $day.soilTemp7.has_data or $day.soilTemp8.has_data
            <img src="daytempsoil2.png"      alt="$obs.label.soilTemp7" />
            #end if
            #if $day.soilTemp7.has_data or $day.soilTemp8.has_data
            <img src="daytempsoil3.png"      alt="$obs.label.soilTemp8" />
            #end if

            #if $current.vpd.has_data
            <img src="dayvpd.png"        alt="$obs.label.vpd"/>
            #end if

            ##if $current.vpd.has_data
            ##<img src="dayvpd1.png"        alt="$obs.label.vpd"/>
            ##end if

            #if $day.soilMoist1.has_data or $day.soilMoist2.has_data or $day.soilMoist3.has_data or $day.soilMoist4.has_data
            <img src="daysoilMoist.png"      alt="$obs.label.soilMoist1" />
            #end if
            #if $day.soilMoist5.has_data or $day.soilMoist6.has_data or $day.soilMoist7.has_data or $day.soilMoist8.has_data
            <img src="daysoilMoist2.png"      alt="$obs.label.soilMoist5" />
            #end if
            #if $day.pm2_5.has_data 
            <img src="dayppm.png"      alt="$obs.label.pm2_5" />
            #end if

            #if $day.pm25_1.has_data 
            <img src="dayppm1.png"      alt="$obs.label.pm25_1" />
            #end if
            #if $day.pm25_2.has_data 
            <img src="dayppm2.png"      alt="$obs.label.pm25_2" />
            #end if

            #if $day.lightning_strike_count.has_data
            <img src="daylightningcount.png"        alt="$obs.label.lightning_strike_count"/>
            <img src="daylightningcount1.png"        alt="$obs.label.lightning_strike_count"/>
            #end if
            ##if $day.lightning_distance.has_data
            <img src="daylightning_noise_count.png"        alt="$obs.label.lightning_strike_count"/>
            <img src="daylightningdistance.png"        alt="$obs.label.lightning_distance"/>
            <img src="daylightningdistance1.png"        alt="$obs.label.lightning_distance"/>
            ##end if

            #if $day.rxCheckPercent.has_data
            <img src="dayrx.png"        alt="$obs.label.rxCheckPercent"/>
            #end if

            #if $day.windBatteryStatus.has_data
            <img src="dayvolt.png"        alt="$obs.label.windBatteryStatus"/>
            #end if

            #if $day.pm25_Batt4.has_data or $day.pm25_Batt2.has_data
            <img src="dayppm2volt.png"        alt="$obs.label.pm25_Batt4"/>
            #end if

            #if $day.soilMoistBatt1.has_data or $day.soilMoistBatt2.has_data or $day.leafWetBatt1.has_data or $day.soilTempBatt1.has_data
            <img src="dayvoltage1.png"        alt="$obs.label.soilMoistBatt1"/>
            #end if
            #if $day.soilMoistBatt3.has_data or $day.soilMoistBatt4.has_data or $day.soilMoistBatt7.has_data or $day.soilMoistBatt8.has_data
            <img src="dayvoltage2.png"        alt="$obs.label.soilMoistBatt3"/>
            #end if
            #if $day.soilMoistBatt5.has_data or $day.soilMoistBatt6.has_data or $day.soilTempBatt2.has_data or $day.rainBatteryStatus.has_data
            <img src="dayvoltage3.png"        alt="$obs.label.soilMoistBatt5"/>
            #end if
            #if $day.soilTempBatt3.has_data or $day.soilTempBatt4.has_data
            <img src="dayvoltage4.png"        alt="$obs.label.soilTempBatt3"/>
            #end if
            #if $day.ws90cap_volt.has_data or $day.ws85cap_volt.has_data
            <img src="dayvoltcap.png"        alt="$obs.label.ws85cap_volt"/>
            #end if

            #if $current.heap.has_data
            <img src="dayheap0.png"        alt="$obs.label.pb"/>
            #end if
            #if $current.depth_ch1.has_data
            <img src="daydepth.png"        alt="$obs.label.depth_ch1"/>
            #end if
            #if $current.wh31_ch1_rssi.has_data or $current.wh31_ch2_rssi.has_data or $current.wh31_ch3_rssi.has_data
            <img src="dayrssi_wh31.png"        alt="$obs.label.wh31_ch1_sig"/>
            #end if

            #if $current.wh32_rssi.has_data or $current.wh45_rssi.has_data
            <img src="dayrssi_wh32.png"        alt="$obs.label.wh45_sig"/>
            #end if

            #if $current.wn34_ch1_rssi.has_data or $current.wn34_ch2_rssi.has_data or $current.wn34_ch3_rssi.has_data
            <img src="dayrssi_wn341.png"        alt="$obs.label.wn34_ch1_sig"/>
            #end if

            #if $current.wn35_ch1_rssi.has_data or $current.wn35_ch2_rssi.has_data or $current.wn35_ch3_rssi.has_data
            <img src="dayrssi_wn35.png"        alt="$obs.label.wn35_ch1_sig"/>
            #end if

            #if $current.wh51_ch1_rssi.has_data or $current.wh51_ch2_rssi.has_data or $current.wh51_ch3_rssi.has_data
            <img src="dayrssi_wh511.png"        alt="$obs.label.wh51_ch1_sig"/>
            #end if
            #if $current.wh51_ch9_rssi.has_data or $current.wh51_ch10_rssi.has_data or $current.wh51_ch11_rssi.has_data
            <img src="dayrssi_wh512.png"        alt="$obs.label.wh51_ch9_sig"/>
            #end if

            #if $current.wh55_ch1_rssi.has_data or $current.wh55_ch2_rssi.has_data or $current.wh54_ch1_rssi.has_data
            <img src="dayrssi_wh55.png"        alt="$obs.label.wh55_ch1_sig"/>
            #end if

            #if $current.ws80_rssi.has_data or $current.ws85_rssi.has_data or $current.ws90_rssi.has_data
            <img src="dayrssi_ws80.png"        alt="$obs.label.ws80_sig"/>
            #end if


          </div>
          <div id="history_week" class="plot_container" style="display:none">
            <img src="weekbarometer.png" alt="$obs.label.barometer"/>
            <img src="weektempdew.png"   alt="$obs.label.outTemp" />
            <img src="weektempfeel.png"  alt="$obs.label.feel" />
            <img src="weekhum.png"       alt="$obs.label.outHumidity" />
            <img src="weekwind.png"      alt="$obs.label.windSpeed" />
            <img src="weekwinddir.png"   alt="$obs.label.windDir" />
            <img src="weekwindvec.png"   alt="$obs.label.windvec" />
            <img src="weekrain.png"      alt="$obs.label.rain" />
            #if $week.hail.has_data
            <img src="weekrain1.png"        alt="$obs.label.rain" />
            #end if
            <img src="weekrain2.png"        alt="$obs.label.rainRate" />
            #if $week.UV.has_data
            <img src="weekuv.png"        alt="$obs.label.UV" />
            #end if
            #if $week.radiation.has_data
            <img src="weekradiation.png" alt="$obs.label.radiation" />
            #end if
            #if $week.inTemp.has_data
            <img src="weektempin.png"    alt="$obs.label.inTemp" />
            #end if
            #if $week.inHumidity.has_data
            <img src="weekhumin.png"    alt="$obs.label.inHumidity" />
            #end if
            #if $week.extraTemp1.has_data or $week.extraTemp2.has_data or $week.extraTemp3.has_data or $week.extraTemp4.has_data
            <img src="weektemp.png"      alt="$obs.label.extraTemp1" />
            #end if
            #if $week.extraTemp5.has_data or $week.extraTemp6.has_data or $week.extraTemp7.has_data or $week.extraTemp8.has_data
            <img src="weektemp2.png"      alt="$obs.label.extraTemp5" />
            #end if
            
            #if $week.extraHumid1.has_data or $week.extraHumid2.has_data or $week.extraHumid3.has_data or $week.extraHumid4.has_data
            <img src="weekhumex1.png"      alt="$obs.label.extraHumid1" />
            #end if
            #if $week.extraHumid5.has_data or $week.extraHumid6.has_data or $week.extraHumid7.has_data or $week.extraHumid8.has_data
            <img src="weekhumex2.png"      alt="$obs.label.extraHumid5" />
            #end if

            #if $week.leafTemp1.has_data or $week.leafTemp2.has_data 
            <img src="weektempleaf.png"      alt="$obs.label.leafTemp1" />
            #end if
            #if $week.leafWet1.has_data or $week.leafWet2.has_data 
            <img src="weekleafwet.png"      alt="$obs.label.leafWet1" />
            #end if

            #if $week.soilTemp1.has_data or $week.soilTemp2.has_data 
            <img src="weektempsoil.png"      alt="$obs.label.soilTemp1" />
            #end if
            #if $week.soilTemp3.has_data or $week.soilTemp4.has_data
            <img src="weektempsoil0.png"      alt="$obs.label.soilTemp3" />
            #end if
            #if $week.soilTemp5.has_data or $week.soilTemp6.has_data
            <img src="weektempsoil1.png"      alt="$obs.label.soilTemp5" />
            #end if
            #if $week.soilTemp7.has_data or $week.soilTemp8.has_data
            <img src="weektempsoil2.png"      alt="$obs.label.soilTemp8" />
            #end if
            #if $week.soilTemp7.has_data or $week.soilTemp8.has_data
            <img src="weektempsoil3.png"      alt="$obs.label.soilTemp7" />
            #end if

            #if $week.vpd.has_data
            <img src="weekvpd.png"        alt="$obs.label.vpd"/>
            #end if

            #if $week.soilMoist1.has_data or $week.soilMoist2.has_data or $week.soilMoist3.has_data or $week.soilMoist4.has_data 
            <img src="weeksoilMoist.png"      alt="$obs.label.soilMoist1" />
            #end if
            #if $week.soilMoist5.has_data or $week.soilMoist6.has_data or $week.soilMoist7.has_data or $week.soilMoist8.has_data
            <img src="weeksoilMoist2.png"      alt="$obs.label.soilMoist5" />
            #end if

            #if $week.pm2_5.has_data 
            <img src="weekppm.png"      alt="$obs.label.pm2_5" />
            #end if
            #if $week.pm25_1.has_data 
            <img src="weekppm1.png"      alt="$obs.label.pm25_1" />
            #end if
            #if $week.pm25_2.has_data 
            <img src="weekppm2.png"      alt="$obs.label.pm25_2" />
            #end if
            #if $week.lightning_strike_count.has_data
            <img src="weeklightningcount.png"        alt="$obs.label.lightning_strike_count"/>
            #end if
            #if $week.lightning_distance.has_data or $month.lightning_distance.has_data
            <img src="weeklightningdistance.png"        alt="$obs.label.lightning_distance"/>
            #end if

            #if $week.rxCheckPercent.has_data
            <img src="weekrx.png"        alt="$obs.label.rxCheckPercent"/>
            #end if

            #if $week.windBatteryStatus.has_data
            <img src="weekvolt.png"        alt="$obs.label.windBatteryStatus"/>
            #end if

            #if $week.pm25_Batt4.has_data or $week.pm25_Batt2.has_data
            <img src="weekppm2volt.png"        alt="$obs.label.pm25_Batt4"/>
            #end if

            #if $week.soilMoistBatt1.has_data or $week.soilMoistBatt2.has_data or $week.leafWetBatt1.has_data or $week.soilTempBatt1.has_data
            <img src="weekvoltage1.png"        alt="$obs.label.soilMoistBatt1"/>
            #end if

            #if $week.soilMoistBatt3.has_data or $week.soilMoistBatt4.has_data or $week.soilMoistBatt7.has_data or $week.soilMoistBatt8.has_data
            <img src="weekvoltage2.png"        alt="$obs.label.soilMoistBatt3"/>
            #end if
            #if $week.soilMoistBatt5.has_data or $week.soilMoistBatt6.has_data or $week.soilTempBatt2.has_data or $week.rainBatteryStatus.has_data
            <img src="weekvoltage3.png"        alt="$obs.label.soilMoistBatt5"/>
            #end if
            #if $week.soilTempBatt3.has_data or $week.soilTempBatt4.has_data
            <img src="weekvoltage4.png"        alt="$obs.label.soilTempBatt3"/>
            #end if
            #if $week.pb.has_data
            <img src="weekheap0.png"        alt="$obs.label.pb"/>
            #end if
            #if $week.depth_ch1.has_data
            <img src="weekdepth.png"        alt="$obs.label.depth_ch1"/>
            #end if


          </div>
          <div id="history_month" class="plot_container" style="display:none">
            <img src="monthbarometer.png" alt="$obs.label.barometer"/>
            <img src="monthtempdew.png"   alt="$obs.label.outTemp" />
            <img src="monthtempfeel.png"  alt="$obs.label.feel" />
            <img src="monthhum.png"       alt="$obs.label.outHumidity" />
            <img src="monthwind.png"      alt="$obs.label.windSpeed" />
            <img src="monthwinddir.png"   alt="$obs.label.windDir" />
            <img src="monthwindvec.png"   alt="$obs.label.windvec" />
            <img src="monthrain.png"      alt="$obs.label.rain" />
            #if $month.hail.has_data
            <img src="monthrain1.png"        alt="$obs.label.rain" />
            #end if
            <img src="monthrain2.png"        alt="$obs.label.rainRate" />
            #if $month.UV.has_data
            <img src="monthuv.png"        alt="$obs.label.UV" />
            #end if
            #if $month.radiation.has_data
            <img src="monthradiation.png" alt="$obs.label.radiation" />
		<img src="monthRadiationEnergy.png" />
            #end if
            #if $month.inTemp.has_data
            <img src="monthtempin.png"    alt="$obs.label.inTemp" />
            #end if
            #if $month.inHumidity.has_data
            <img src="monthhumin.png"    alt="$obs.label.inHumidity" />
            #end if

            #if $month.extraTemp1.has_data or $month.extraTemp2.has_data or $month.extraTemp3.has_data or $month.extraTemp4.has_data
            <img src="monthtemp.png"      alt="$obs.label.extraTemp1" />
            #end if
            #if $month.extraTemp5.has_data or $month.extraTemp6.has_data or $month.extraTemp7.has_data or $month.extraTemp8.has_data
            <img src="monthtemp2.png"      alt="$obs.label.extraTemp5" />
            #end if
           
            #if $month.extraHumid1.has_data or $month.extraHumid2.has_data or $month.extraHumid3.has_data or $month.extraHumid4.has_data
            <img src="monthhumex1.png"      alt="$obs.label.extraHumid1" />
            #end if
            #if $month.extraHumid5.has_data or $month.extraHumid6.has_data or $month.extraHumid7.has_data or $month.extraHumid8.has_data
            <img src="monthhumex2.png"      alt="$obs.label.extraHumid5" />
            #end if

            #if $month.leafTemp1.has_data or $month.leafTemp2.has_data 
            <img src="monthtempleaf.png"      alt="$obs.label.leafTemp1" />
            #end if
            #if $month.leafWet1.has_data or $month.leafWet2.has_data 
            <img src="monthleafwet.png"      alt="$obs.label.leafWet1" />
            #end if

            #if $month.soilTemp1.has_data or $month.soilTemp2.has_data
            <img src="monthtempsoil.png"      alt="$obs.label.soilTemp1" />
            #end if
            #if $month.soilTemp3.has_data or $month.soilTemp4.has_data
            <img src="monthtempsoil0.png"      alt="$obs.label.soilTemp3" />
            #end if
            #if $month.soilTemp5.has_data or $month.soilTemp6.has_data
            <img src="monthtempsoil1.png"      alt="$obs.label.soilTemp5" />
            #end if
            #if $month.soilTemp7.has_data or $month.soilTemp8.has_data
            <img src="monthtempsoil2.png"      alt="$obs.label.soilTemp8" />
            #end if
            #if $month.soilTemp7.has_data or $month.soilTemp8.has_data
            <img src="monthtempsoil3.png"      alt="$obs.label.soilTemp7" />
            #end if

            #if $month.vpd.has_data
            <img src="monthvpd.png"        alt="$obs.label.vpd"/>
            #end if


            #if $month.soilMoist1.has_data or $month.soilMoist2.has_data or $month.soilMoist3.has_data or $month.soilMoist4.has_data 
            <img src="monthsoilMoist.png"      alt="$obs.label.soilMoist1" />
            #end if
            #if $month.soilMoist5.has_data or $month.soilMoist6.has_data or $month.soilMoist7.has_data or $month.soilMoist8.has_data 
            <img src="monthsoilMoist2.png"      alt="$obs.label.soilMoist5" />
            #end if

            #if $Month <= 7
            <img src="monthGTS.png"/>
            #end if

            #if $month.pm2_5.has_data 
            <img src="monthppm.png"      alt="$obs.label.pm2_5" />
            #end if
            #if $month.pm25_1.has_data 
            <img src="monthppm1.png"      alt="$obs.label.pm25_1" />
            #end if
            #if $month.pm25_2.has_data 
            <img src="monthppm2.png"      alt="$obs.label.pm25_2" />
            #end if
 
            #if $month.lightning_strike_count.has_data
            <img src="monthlightningcount.png"        alt="$obs.label.lightning_strike_count"/>
            #end if
            #if $month.lightning_distance.has_data
            <img src="monthlightningdistance.png"        alt="$obs.label.lightning_distance"/>
            #end if

            #if $month.rxCheckPercent.has_data
            <img src="monthrx.png"        alt="$obs.label.rxCheckPercent"/>
            #end if

            #if $month.windBatteryStatus.has_data
            <img src="monthvolt.png"        alt="$obs.label.windBatteryStatus"/>
            #end if

            #if $month.pm25_Batt4.has_data or $month.pm25_Batt2.has_data
            <img src="monthppm2volt.png"        alt="$obs.label.pm25_Batt4"/>
            #end if

            #if $month.soilMoistBatt1.has_data or $month.soilMoistBatt2.has_data or $month.leafWetBatt1.has_data or $month.soilTempBatt1.has_data
            <img src="monthvoltage1.png"        alt="$obs.label.soilMoistBatt1"/>
            #end if

            #if $month.soilMoistBatt3.has_data or $month.soilMoistBatt4.has_data or $month.soilMoistBatt7.has_data or $month.soilMoistBatt8.has_data
            <img src="monthvoltage2.png"        alt="$obs.label.soilMoistBatt3"/>
            #end if
            #if $month.soilMoistBatt5.has_data or $month.soilMoistBatt6.has_data or $month.soilTempBatt2.has_data or $month.rainBatteryStatus.has_data
            <img src="monthvoltage3.png"        alt="$obs.label.soilMoistBatt5"/>
            #end if
            #if $month.soilTempBatt3.has_data or $month.soilTempBatt4.has_data
            <img src="monthvoltage4.png"        alt="$obs.label.soilTempBatt3"/>
            #end if
            #if $month.pb.has_data
            <img src="monthheap0.png"        alt="$obs.label.pb"/>
            #end if
            #if $month.depth_ch1.has_data
            <img src="monthdepth.png"        alt="$obs.label.depth_ch1"/>
            #end if



          </div>
          <div id="history_year" class="plot_container" style="display:none">
            <img src="yearbarometer.png" alt="$obs.label.barometer"/>
            <img src="yeartempdew.png"   alt="$obs.label.outTemp" />
            <img src="yeartempfeel.png"  alt="$obs.label.feel" />
            <img src="yearhum.png"       alt="$obs.label.outHumidity" />
            <img src="yearwind.png"      alt="$obs.label.windSpeed" />
            <img src="yearwinddir.png"   alt="$obs.label.windDir" />
            <img src="yearwindvec.png"   alt="$obs.label.windvec" />
            <img src="yearrain.png"      alt="$obs.label.rain" />
            #if $year.hail.has_data
            <img src="yearrain1.png"        alt="$obs.label.rain" />
            #end if
            <img src="yearrain2.png"      alt="$obs.label.rainRate" />
            #if $year.UV.has_data
            <img src="yearuv.png"        alt="$obs.label.UV" />
            #end if
            #if $year.radiation.has_data
            <img src="yearradiation.png" alt="$obs.label.radiation" />
            <img src="yearRadiationEnergy.png" />
            #end if
            #if $year.inTemp.has_data
            <img src="yeartempin.png"    alt="$obs.label.inTemp" />
            #end if
            #if $year.inHumidity.has_data
            <img src="yearhumin.png"    alt="$obs.label.inHumidity" />
            #end if
            #if $year.extraTemp1.has_data or $year.extraTemp2.has_data or $year.extraTemp3.has_data or $year.extraTemp4.has_data
            <img src="yeartemp.png"      alt="$obs.label.extraTemp1" />
            #end if
            #if $year.extraTemp5.has_data or $year.extraTemp6.has_data or $year.extraTemp7.has_data or $year.extraTemp8.has_data
            <img src="yeartemp2.png"      alt="$obs.label.extraTemp5" />
            #end if
           
            #if $year.extraHumid1.has_data or $year.extraHumid2.has_data or $year.extraHumid3.has_data or $year.extraHumid4.has_data
            <img src="yearhumex1.png"      alt="$obs.label.extraHumid1" />
            #end if
            #if $year.extraHumid5.has_data or $year.extraHumid6.has_data or $year.extraHumid7.has_data or $year.extraHumid8.has_data
            <img src="yearhumex2.png"      alt="$obs.label.extraHumid5" />
            #end if

            #if $year.leafTemp1.has_data or $year.leafTemp2.has_data 
            <img src="yeartempleaf.png"      alt="$obs.label.leafTemp1" />
            #end if
            #if $year.leafWet1.has_data or $year.leafWet2.has_data 
            <img src="yearleafwet.png"      alt="$obs.label.leafWet1" />
            #end if

            #if $year.soilTemp1.has_data or $year.soilTemp2.has_data 
            <img src="yeartempsoil.png"      alt="$obs.label.soilTemp1" />
            #end if
            #if $year.soilTemp3.has_data or $year.soilTemp4.has_data
            <img src="yeartempsoil0.png"      alt="$obs.label.soilTemp3" />
            #end if
            #if $year.soilTemp5.has_data or $year.soilTemp6.has_data
            <img src="yeartempsoil1.png"      alt="$obs.label.soilTemp5" />
            #end if
            #if $year.soilTemp7.has_data or $year.soilTemp8.has_data
            <img src="yeartempsoil2.png"      alt="$obs.label.soilTemp8" />
            #end if
            #if $year.soilTemp7.has_data or $year.soilTemp8.has_data
            <img src="yeartempsoil3.png"      alt="$obs.label.soilTemp7" />
            #end if

            #if $year.vpd.has_data
            <img src="yearvpd.png"        alt="$obs.label.vpd"/>
            #end if

            #if $year.soilMoist1.has_data or $year.soilMoist2.has_data or $year.soilMoist3.has_data or $year.soilMoist4.has_data 
            <img src="yearsoilMoist.png"      alt="$obs.label.soilMoist1" />
            #end if
            #if $year.soilMoist5.has_data or $year.soilMoist6.has_data or $year.soilMoist7.has_data or $year.soilMoist8.has_data 
            <img src="yearsoilMoist2.png"      alt="$obs.label.soilMoist5" />
            #end if

            <img src="yearGTS.png"/>
            #if $year.pm2_5.has_data 
            <img src="yearppm.png"      alt="$obs.label.pm2_5" />
            #end if
            #if $year.pm25_1.has_data 
            <img src="yearppm1.png"      alt="$obs.label.pm25_1" />
            #end if
            #if $year.pm25_2.has_data 
            <img src="yearppm2.png"      alt="$obs.label.pm25_2" />
            #end if
            #if $year.lightning_strike_count.has_data
            <img src="yearlightningcount.png"        alt="$obs.label.lightning_strike_count"/>
            #end if
            #if $year.lightning_distance.has_data
            <img src="yearlightningdistance.png"        alt="$obs.label.lightning_distance"/>
            #end if

            #if $year.rxCheckPercent.has_data
            <img src="yearrx.png"        alt="$obs.label.rxCheckPercent"/>
            #end if

            #if $year.windBatteryStatus.has_data
            <img src="yearvolt.png"        alt="$obs.label.windBatteryStatus"/>
            #end if

            #if $year.pm25_Batt4.has_data or $year.pm25_Batt2.has_data
            <img src="yearppm2volt.png"        alt="$obs.label.pm25_Batt4"/>
            #end if

            #if $year.soilMoistBatt1.has_data or $year.soilMoistBatt2.has_data or $year.leafWetBatt1.has_data or $year.soilTempBatt1.has_data
            <img src="yearvoltage1.png"        alt="$obs.label.soilMoistBatt1"/>
            #end if

            #if $year.soilMoistBatt3.has_data or $year.soilMoistBatt4.has_data or $year.soilMoistBatt7.has_data or $year.soilMoistBatt8.has_data
            <img src="yearvoltage2.png"        alt="$obs.label.soilMoistBatt3"/>
            #end if
            #if $year.soilMoistBatt5.has_data or $year.soilMoistBatt6.has_data or $year.soilTempBatt2.has_data or $year.rainBatteryStatus.has_data
            <img src="yearvoltage3.png"        alt="$obs.label.soilMoistBatt5"/>
            #end if
            #if $year.soilTempBatt3.has_data or $year.soilTempBatt4.has_data
            <img src="yearvoltage4.png"        alt="$obs.label.soilTempBatt3"/>
            #end if
            #if $year.pb.has_data
            <img src="yearheap0.png"        alt="$obs.label.pb"/>
            #end if
            #if $year.depth_ch1.has_data
            <img src="yeardepth.png"        alt="$obs.label.depth_ch1"/>
            #end if


          </div>

          <div id="history_chronicle" class="history" style="display:none">
           <div class="col-md-8">
            <h4>$BootstrapLabels.history_tables.min_temp</h4>
$min_temp_table

            <h4>$BootstrapLabels.history_tables.avg_temp</h4>
$avg_temp_table

            <h4>$BootstrapLabels.history_tables.max_temp</h4>
$max_temp_table

            <h4>$BootstrapLabels.history_tables.rain</h4>
$rain_table

            <h4>$BootstrapLabels.history_tables.rain_days</h4>
$rain_days_table

            <h4>$BootstrapLabels.history_tables.windGust</h4>
$max_windGust_table

            <h4>$BootstrapLabels.history_tables.max_UV</h4>
$max_UV_table

            <h4>$BootstrapLabels.history_tables.max_radiation</h4>
$max_radiation_table

            <h4>$BootstrapLabels.history_tables.min_barometer</h4>
$min_barometer_table

            <h4>$BootstrapLabels.history_tables.avg_barometer</h4>
$avg_barometer_table

            <h4>$BootstrapLabels.history_tables.max_barometer</h4>
$max_barometer_table

            <h4>$BootstrapLabels.history_tables.outTemp_days</h4>
$outTemp_days_table

            <h4>$BootstrapLabels.history_tables.outTemp20_days</h4>
$outTemp20_days_table

            <h4>$BootstrapLabels.history_tables.outTemp20x_days</h4>
$outTemp20x_days_table

            <h4>$BootstrapLabels.history_tables.vegetations_days</h4>
$vegetations_days_table

 <h4>$BootstrapLabels.history_tables.heatdays</h4>
$heatdays_table

            <h4>$BootstrapLabels.history_tables.outTemp0_days</h4>
$outTemp0_days_table

            <h4>$BootstrapLabels.history_tables.outTemp00_days</h4>
$outTemp00_days_table



 <h4>$BootstrapLabels.history_tables.sunshineDur</h4>
$sunshineDur_table

 <h4>$BootstrapLabels.history_tables.rainDur</h4>
$rainDur_table

 <h4>$BootstrapLabels.history_tables.heatdeg</h4>
$heatdeg_table

 <h4>$BootstrapLabels.history_tables.cooldeg</h4>
$cooldeg_table

##          <h4>$BootstrapLabels.history_tables.NOAA</h4>
##$NOAA_table

           </div>
          </div>


        </div>
      </div>
    </div>

    <p class="footnote">
      This station is controlled by <a href="http://weewx.com/">WeeWX</a>, an
      experimental weather software system written in Python.
    </p>

    #include "analytics.inc"

</body>

</html>
